@media (max-width: 700px) {
  .nav-large {
    display: none;
  }

  .nav-small {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    background-color: #490404;
  }

  .nav-small .logo-small {
    max-height: 12vh;
  }

  .nav-small-search-form {
    display: flex;
    width: 80vw;
  }

  .nav-small-search-form-input {
    min-width: 60vw;
    font-size: 1.6rem;
    padding: 0.4rem;
  }

  .nav-small-search-form-button {
    min-width: 10vw;
    padding: 0.4rem 0.8rem;
    background-color: #9c0606;
    color: #e5e5e5;
  }
}

@media (min-width: 701px) {
  .nav-small {
    display: none;
  }

  .nav-large {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #490404;
    height: 10vh;
  }

  .logo-large {
    height: 10vh;
  }

  .nav-large > a {
    text-decoration: none;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #e5e5e5;
  }

  .nav-large-search-form {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    padding-left: 4rem;
  }

  .nav-large-search-form-input {
    width: 40vw;
    font-size: 1.6rem;
    padding: 1rem;
  }

  .nav-large-search-form-button {
    width: 10vw;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: #9c0606;
    color: #e5e5e5;
  }
}

/* HOVER EFFECT ONLY ON NON-TOUCH DEVICES */
@media not all and (pointer: coarse) {
  .nav-large > a:hover {
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transform: scale(1.2);
  }

  .nav-large-search-form-button:hover {
    transition-delay: 0.5s;
    background-color: #e70e0e;
  }
}
