.main {
  max-width: 80vw;
  min-height: 90vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.movies-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
